<mat-card class="example-card" [hidden]="!visible" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ recipe.name }}</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="recipe.picture" alt="">
  <mat-card-content>
    <p class="decription">
     {{ recipe.description }}
    </p>
    <li>Ingredients</li>
    <ul *ngIf="expanded">
      <li *ngFor="let ingredients of recipe.ingredients " >{{ ingredients.quantity }} {{ ingredients.unit }} {{ ingredients.name }} </li>
      <li *ngFor="let instructions of recipe.instructions | strToArray " ></li>
    </ul>
  </mat-card-content>
  <mat-card-actions >
    <button mat-raised-button color="primary" [routerLink]="['/recipe',this.recipe.id]" (click)="doSomething()" > See details </button>
    <button mat-raised-button color="primary" (click)="deleteRecipe()">Delete</button>
  </mat-card-actions>
</mat-card>
